
.container{
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  }
  
  h1, p{
    margin: 0;
  }

  p{
  margin: 0;
  }

  a{
    &:hover{
      text-decoration: none;
  }
}

  body{
  font-family: "Open Sans Condensed";
  margin: 0 ;
  }
  