.footer{
    background: #45B7E3;
    align-items: center;
    text-align:right;
    vertical-align: middle;
    color: #ffffff; 
    
   &__bond_strong{
        height: 61px;
        padding-top: 3px;
        padding-bottom: 23px;
        }
        
        &__middle{
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 72px;
        }
        
        }



    

        
