.footer{
    background: #45B7E3;
    align-items: center;
    text-align:right;
    vertical-align: middle;
    color: #ffffff; 
    

    &__style-bond__size-mode_footer{
        margin: 0;
        padding: 0px;
        }
        
        &__style-middle{
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
      
        }


    } 
    

        
