.info{
    
    background: #FFE01B;
    color: #000000;
    align-items: center;
    text-align: center;

    &__content{
        display: flex;
        justify-content: space-between;
        
    }

    &__content_strong{ 
        font-style: normal;
        font-weight: bold;
        margin: 0;
        padding-top: 33px;
        font-size: 48px;
        padding-bottom: 30px;
        

    }

    &__content_img {
        margin-bottom: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 171px;
        background: #343434;
        
        &:hover{
            background-color: #000000;
            
        }
    }
    
    .phoneimg{
        position: fixed;
        width: 100px;
        height: 100px;
        right: 380px;
        bottom: 75px;
        background:  #FF6969;
        border-radius: 50px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
       
       
    }
    
    
   
 
    
}
    