.main-content{
    color:#ffffff;
    background: url("../img/car.png");  
    background-repeat: no-repeat;
    background-size: cover;

        &__bond_strong{
        padding-top: 30px;
        padding-bottom: 22px;
        }
        
        &__bond{
         font-style: normal;
         font-weight: bold;
         font-size: 48px;
         padding-top: 24px;
         padding-bottom: 16px;
        }
        
        &__middle{
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 72px;
        }
        
        }




    
   