.newblog {
    background: #F2F2F2;

    &__title{
        color: black;
        font-family: "Open Sans Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 75px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 54px;
    }

    &__content{
        color: black;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__button{
        font-family: 'Bebas Neue', sans-serif;
        border:none;
        display: flex;
        justify-content:center;
        color: black;
        text-align: center;
    }

    &__button_bold {
        display: flex;
        justify-content:center;

        &:hover {
            background-color: #ECCC00;
            text-decoration: none;
        }
        &:active{
            background: #FFEB6C;
            color: 000;
            border:none;
        }
        width: 268px;
        font-size: 18px;
        line-height: 18px;
        border:none;
        align-items: center;
        background: #FFE01B;
        margin-top: 59px;
        margin-bottom:60px;
        padding-top: 13px;
        padding-bottom: 7px;
    }

}