   
  <div class="header">
      <div class="container">
          <div class="logo">
               <img src="./img/logo.png">
          </div>
               <div class="header__bond">
                      <a class="header__small_italic" href="">Главная</a>
                      <a class="header__small" href="">История обо мне</a>
                      <a class="header__small" href="">Мой блог</a>
                      <a class="header__small" href="">Контакты</a>
                         <!-- <a href="second_page.html" style="color: black">Моя вторая страница</a> -->
                 </div>
           </div>

 

     
   
  