   
  <div class="header">
      <div class="container">
           <div class="header__bond">
                    <p class="header__bond_strong">БРЕНД.ru</p>
                      <p class="header__small_italic">Главная</p>
                  <div class="header__small"><p>История обо мне</p>
                     <p>Мой блог</p>
                      <p>Контакты</p>
                         <!-- <a href="second_page.html" style="color: black">Моя вторая страница</a> -->
                 </div>
           </div>
      </div>
 </div>
     
   
  