   
  <div class="header">
    <a name="header"></a>
    <div class="container">
         <div class="header__style-bond">
                     <p class="header__style-bond__size-mode_head"> 
                       БРЕНД.ru</p></div>
                         <a class="header__style-small_italic" href="#header">Главная</a>
                           <a class="header__style-small" href="index.html">Мой блог</a>
                            <a class="header__style-small" href="">Подробнее обо мне</a>            
                              <a class="header__style-small" href="#info-content">Контакты</a>
                             
                       <!-- <a href="second_page.html" style="color: black">Моя вторая страница</a> -->
           </div>
         </div>
   
  
   