<div class="info">
    
    <div class="container">
        <h1 class ="info__content_strong"> КОНТАКТЫ</h1>
        <div class="info__content">

       <a href="https://vk.com/hulk9326"> 
           <div class = "info__content_img">
                 <img src="./img/vk.png">               
           </div>
      </a>

      <a href="https://www.instagram.com/alexx_001/">
           <div class = "info__content_img">
                <img src="./img/insta.png">  
           </div>
      </a>
      
      <a href="tel:89297119989"> 
           <div class = "info__content_img">
                <img src="./img/phone.png">
           </div>
      </a>    

      <a href=""> 
           <div class = "info__content_img">
                 <img src="./img/mail.png">  
           </div>
      </a>  
      </div> 

      <a href="">
           <div class="phoneimg"> 
                <img class= "phone__img" src="./img/phoneimg.png"> 
           </div>
      </a>
      
    </div>
</div>