<a name="info-content"></a>
     <div class="info-content">
            <div class="container">
                  <div class="main-content__style-bond">
                       <p class="info-content__style-bond__size-  mode_info">КОНТАКТЫ</p>
                  <p class="info-content__style-middle">
                  <a href="https://vk.com/hulk9326" targer="_blank"  style="color: white">Ссылка на Vk</a>
               <br>
                 <a href="https://vk.com/hulk9326" targer="_blank" style="color: white">Ссылка на Instagram</a>
                <br></p>
                      <p class="info-content__style-middle">                         89297119989</p>
                      
                  </div>
            </div>
        </div>