<div class="newblog">
        <div class="container">
            <div class="newblog__title">
                МОЙ БЛОГ
            </div>
            <div class="newblog__content">
                    @@include('./../components/news.html')
                    @@include('./../components/news.html')
                    @@include('./../components/news.html')
            </div>

            <div class="newblog__button">
                <button class="newblog__button_strong">
                    ПОСМОТРЕТЬ ВСЕ НОВОСТИ
                </button>
            </div>
        </div>
    </div>