<div class="news">
        <div class="news__img"></div>

           <div class="news__title">
            СЕГОДНЯ Я ХОДИЛ В КЛУБ ЗАРЯ
           </div>

         <div class="news__text">
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Illum distinctio quasi 
                culpa eveniet assumenda quia qui molestiae 
                est ea odio quos voluptatibus perspiciatis, 
                ipsam impedit tempore ducimus omnis deserunt 
                adipisci inventore dicta consectetur...
        </div>

        <div class="news__bottom">
            
                <Button class="news__button">
                    ПЕРЕЙТИ К НОВОСТИ
                </Button>
            </div>

            <div class="news__date">
                26.06.2019
            </div>
        </div>
    </div>
    